<div class="logincenter">
<div>
    <img src="/users/views/logo.png" class="img-responsive imagelogo" alt="Responsive Image">
</div>
<p class="register" style="display: none;">Sign Up or Login with</p>
<div style="display: none;" ng-controller="AuthCtrl" ng-class="($state.is('auth.register')) ? 'register-form' : ''">
    <a target="_self" ng-href="/api/auth/google" class="button" href="/api/auth/google">
        <span class="btn btn-danger googlelogin">Google</span>
    </a>
</div>
</div>
