<section data-ng-controller="SubmitController as submit">
  <div class="container-wrapper">
    <!-- <div class='input-group date' id='fromDatePicker'>
      <input type='text' placeholder="From Date" data-ng-model="fromDate" class="form-control" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div> -->
    <div style="display: none;"> <!-- ng-controller="AuthCtrl" ng-class="($state.is('auth.register')) ? 'register-form' : ''"> -->
      <a ng-href="/auth/login" class="button" href="/auth/login">
          <span class="btn btn-danger googlelogin">Log In</span>
      </a>
    </div>
    <div class="row">
      <h4>Dig some bills you saved from the app
        <br/>
        <small>If you haven't. Charity is always appreciated :)</small>
      </h4>
    </div>
    <div class="row filter-container">
      <div class="col-md-3 ">
        <p class="input-group">
          <input type="text" placeholder="From Date" class="form-control" datepicker-popup="{{format}}" ng-model="fromDate" is-open="status.opened2" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
          close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="status.opened2=true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="col-md-3 text-center ">
        <span class="lead">
          <small>To</small>
        </span>
      </div>
      <div class="col-md-3 ">
        <p class="input-group">
          <input type="text" placeholder="Till Date" class="form-control" datepicker-popup="{{format}}" ng-model="toDate" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
          close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="col-md-3 ">
        <button type="button" class="btn btn-info pull-right" ng-click="go()">Get em!</button>
      </div>
    </div>
  </div>
  <div ui-view>
  </div>
</section>
