<!DOCTYPE html>
<html>

<head>
	<title>Mrio Claim Bills Page</title>
	<meta charset="utf-8">
</head>

<style>
	.container {
		font-family: arial;
		margin: 5%;
	}

	.logo {
		margin-left: 11%;
		margin-right: 15%;
	}

	.heading {
		margin-top: 2%;
		margin-bottom: 2%;
		position: relative;
		color: black;
		font-size: 34px;
		text-align: center;
		color: #333333;
	}

	.empname {
		font-size: 25px;
		color: #532D96;
		font-weight: 600;
		text-align: center;
		margin-top: 2%;
		margin-bottom: 2%;
	}

	.empid {
		font-size: 17px;
		margin-top: 1%;
		text-align: center;
		font-weight: 500;
		color: #333333;
	}

	.empinfo {
		font-size: 18px;
		margin-top: 1%;
		text-align: center;
		font-weight: 500;
		color: #333333;
	}

	.summary {
		font-size: 20px;
		color: #532D96;
		font-weight: 600;
		margin: 3%;
		margin-bottom: 2%;
	}

	.total {
		font-size: 20px;
		color: #532D96;
		font-weight: 600;
		margin: 3%;
		margin-left: 60%;
		float: right;
		display: block;
	}

	table {
		width: 100%;
		border: 1.5px solid #333333;
		text-align: left;
		margin: 3%;
	}

	.billsummary {
		margin: 0px;
		padding: 0px;
		width: 100%;
		border: 1px solid #333333;
		border-radius: 5px;
	}

	.billsummary table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
	}

	.billsummary td {
		vertical-align: middle;
		background-color: #ffffff;
		border: 1px solid #000000;
		padding: 9px;
		font-size: 15px;
		font-family: Arial;
		font-weight: normal;
		color: #333333;
		text-align: center;
	}

	#amt {
		font-size: 18px;
		font-weight: 600;
	}

	.detail {
		font-size: 18px;
		font-weight: 500;
		display: inline-block;
		float: left;
	}

	.amount {
		font-size: 22px;
		font-weight: 600;
		display: inline-block;
		float: right;
	}

	.date {
		font-size: 16px;
		font-weight: 300;
		display: block;
		float: left;
		clear: both;
	}

	.image {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		clear: both;
		max-width: 680px;
	}

	ul {
		margin: 3%;
		margin-bottom: 7%;
		list-style-type: none;
		padding-left: 25px;
	}

	li {
		margin-bottom: 2.5%;
		background-color: rgba(240, 240, 240, 0.41);
		box-sizing: border-box;
		padding: 1rem;
	}
</style>

<body class="container">

	<!-- MRIO logo -->
	<!-- User details - Name, Employee number, phonenumber, emailid -->
	<!-- use tables ? -->
	<img class="logo" src="logo_old.png">
	<div class="heading">Expense Report</div>
	<div class="empname">{{username}}</div>
	<div class="empinfo">{{email}}</div>
	<p class="summary">Expense Summary</p>
	<div class="billsummary">
		<table>
			<tr>
				<td class="tablehead">Date</td>
				<td class="tablehead">Detail</td>
				<td class="tablehead">Amount</td>
			</tr>
			{% for bill in bills %}
			<tr>
				<td>{{bill.date|date('d-M-y')}}</td>
				<td>{{bill.detail}}</td>
				<td id="amt">Rs. {{bill.amount}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<div class="total">Total: &nbsp;&nbsp;Rs. {{total}}</div>
	<br>
	<br>

	<div>
		<div class="summary">Detailed View</div>
		<hr>
		<ul>
			{% for bill in bills %}
			<li>
				<div class="detail">{{bill.detail}}</div>
				<div class="amount">Rs.{{bill.amount}}</div>
				<br>
				<br>
				<div class="date">{{bill.date|date('d-M-y')}}</div>
				<br>
				<p>
					<img class="image" align="middle" src="{{bill.billImage}}">
				</p>
			</li>
			<hr>
			<br> {% endfor %}
		</ul>
	</div>

</body>
