.page-header {
    padding-bottom: 0 !important;
    margin: 0 !important;
    border-bottom: 0 !important;
}
.page-header .navbar-nav {
    float: right;
}
.page-header > div > div, .page-header > div > ul {
    display: inline-block;
}
.text-edit {
    float: right; 
    margin-top: 12px;
}
.account {
    text-align:right;
}
.account > div, .account > ul {
    text-align: left;
}
.navbar .nav > li > a.brand {
    padding-left: 20px;
    margin-left: 0
}
.content {
    margin-top: 70px;
    width: 100%
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 30px;
	width: 100%;
	background: #ddd;
	-webkit-box-shadow: 0 8px 6px 6px black;
	-moz-box-shadow: 0 8px 6px 6px black;
	box-shadow: 0 8px 6px 6px black
}
footer p {
	padding: 5px 0 12px 10px
}

.featuredpic img{
  width:510px;
}
/*.ng-invalid.ng-dirty{*/
    /*border-color:#FA787E;*/
/*}*/
/*.ng-valid.ng-dirty{*/
    /*border-color:#78FA89;*/
/*}*/
.imagelogo {
    margin-left: 20%;
    margin-right: 20%;
    height: 50%;
}

.register {
    font-size: 15px;
    color: #404040;
}

.googlelogin {
    font-size: 45px;
    height: 40%;
}

.logincenter {
    margin-left: 25%;
    margin-right: 25%;
}